.wrong-answer:focus {
  border: 3px solid red;
}

.correct-answer:focus {
  border: 3px solid rgb(6, 240, 15);
}

.wrong-answer:active {
  border: 3px solid red;
}

.correct-answer:active {
  border: 3px solid rgb(6, 240, 15);
}
